.DS_Store
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/NOTES.md

# runtime data
pids
*.pid
*.seed
*.pid.lock


# generated doc files
/doc.json

# bundled files
/packages/*/**/dist
/packages/*/errors

# editor specific
.vscode
.editorconfig

# website
/website-deploy-key
/website-deploy-key.pub
/website/public/

# other
node_modules
.cache
.env
package-lock.json
.pnp/
.pnp.js
.yarn-integrity
/errors
storybook-static/0.db65da6693e558236050.manager.bundle.js
storybook-static/4.a1f4accdefcda1ecc752.manager.bundle.js
storybook-static/4.a1f4accdefcda1ecc752.manager.bundle.js.LICENSE.txt
storybook-static/5.3867ff09bac9e2fb075e.manager.bundle.js
storybook-static/5.3867ff09bac9e2fb075e.manager.bundle.js.LICENSE.txt
storybook-static/6.19e9ec9a02b0c4ab6c12.manager.bundle.js
storybook-static/7.5eff0579b3aa8eec5a41.manager.bundle.js
storybook-static/favicon.ico
storybook-static/iframe.html
storybook-static/index.html
storybook-static/main.8b60ef7c.iframe.bundle.js
storybook-static/main.e07ccbaf52132dd078a7.manager.bundle.js
storybook-static/runtime~main.3b4741701a38e0ab2a73.manager.bundle.js
storybook-static/runtime~main.77cb1220.iframe.bundle.js
storybook-static/vendors~main.3a5efea5b2e3e5156407.manager.bundle.js
storybook-static/vendors~main.3a5efea5b2e3e5156407.manager.bundle.js.LICENSE.txt
storybook-static/vendors~main.63382f7f.iframe.bundle.js
storybook-static/vendors~main.63382f7f.iframe.bundle.js.LICENSE.txt
storybook-static/vendors~main.63382f7f.iframe.bundle.js.map
